@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Inconsolata', monospace;
}

#input {
    white-space: nowrap;
}

#prompt {
    display: inline-block;
    color: #25df9a;
}
#cmd_in:focus {
    color: #25df9a;
}
.userInput {
    color: #25df9a;
}
.systemOutput{
    color: aliceblue;
}
.systemError{
    color: #cc0000;
}
.systemMessage{
    color: #aaaaaa;
}

#cmd_in {
    display: inline-block;
    width:90%;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}
#cmd_in:focus, #cmd_in:focus, *:focus{
     outline: none;
 }
